<div class="page-header">
    <h1>List of Product (<%= @store.name%> / <%= @store.id%>) </h1>   
</div>

<p>
  <%= link_to "new product", new_store_product_path(@store), class:"btn btn-info" %>
  <%= link_to "I want to play a game!", store_sale_path(@store), :target => "_blank", class:"btn btn-danger btn-lg" %>
</p>

    <%= render partial: "product", collection: @products %>

<!-- 燈箱 -->
  <div class="mask">
    <div class="dialog-box">
        <a class="close">&times;</a>
        <div class="content"></div>
    </div>
  </div>
<!-- 燈箱 -->

